.encontranos {
    // color: $sexto;
    // background: linear-gradient( $octavo,$primero);
    background: $once;
    height: 100vh;
    width: 100%;
    font-family: "Josefin Sans", sans-serif;
    position: absolute;
    top: 400vh;
    z-index: -2;
    @include breakpoint-down(medium) {
            top: 450vh;
        }
    @include breakpoint-down(superSmall) {
        top: 475vh;
    }
}

.rowMap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 85vh;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 5.5rem;

    @include breakpoint-down(medium) {
            justify-content: center;
            align-items: space-around;
            height: 100%;
        }
}


.mapouter {
    border: 5px solid $quinto;
    height: 90%;
    min-width: 20rem;
    max-width: 50%;
    box-shadow: 2px 2px 21px $santaFeAzul;
    flex:1;
   
    @include breakpoint-down(medium) {
            height: 50vh;
            max-width: 90%;
        }
    
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 100%;
    width: 100%;    
}

.datos {
    display: flex;
    flex-direction: column;
    width: 35%;
    min-width: 20rem;
    font-size: $font-medmed;
    @include breakpoint-down(medium) {
            font-size: $font-med;
        }

    @include breakpoint-down(medium) {
            margin-top: 5%;
            min-height: 50%;
            width: 90%;
        }
}

p {
    margin:0px 0px 0px 5px;
    padding: 15px;


    @include breakpoint-down(large) {
            padding: 5px;
        }
    
    @include breakpoint-down(medium) {
            margin-top: 5px;
            padding: 3px;
        }
}

.datitos {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}