.header {
  // hambuerguer open styles
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  
  &.open {
    .overlay {
      display: block;
    }
    .header__toggle {
      > span:first-child {
        transform: rotate(45deg);
      }
      > span:nth-child(2) {
        opacity: 0;
      }
      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }
  nav {
    position: relative;
    background-color: $septimo;
    opacity: 0.98;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    box-shadow: 0.1px 0.1px 3px $noveno;
  }
  &__logo {
    img {
      width: auto;
      height: 3rem;
    }
  }
  //mobile menu toggle
  &__toggle {
    > span {
      display: block;
      width: 26px;
      height: 2px;
      background-color: $primero;
      transition: all 300ms ease-in-out;
      transform-origin: 3px 1px;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }

  &__menu {
    position: absolute;
    margin-top: 1.625rem;
    width: calc(100% - 3rem);
    left: 50%;
    transform: translateX(-50%);
    background: $septimo;
    padding: 1.625rem;
    border-radius: 5px;

    a {
      display: block;
      padding: 0.625rem;
      color: $cuarto;
      text-align: center;

      &:hover {
        color: $noveno;
      }
    }
  }

  &__links {
    a {
      position: relative;
      font-size: $font-small;
      color: $cuarto;
      transition: color 300ms ease-in-out;

      &:not(:last-child) {
        margin-right: 32px;
      }

      &::before {
        content: "";
        position: absolute;
        display: block;
        height: 4px;
        left: 0;
        right: 0;
        bottom: -10px;
        background: linear-gradient(to right, $segundo, $tercero);
        opacity: 0;
        transition: opacity 300ms ease-in-out;
      }

      &:hover {
        color: $noveno;

        &::before {
          opacity: 1;
        }
      }
    }
  }
}

.overlay {
  opacity: 0;
  position: fixed;
  top: 0rem;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: linear-gradient($primero, transparent);

  @include breakpoint-up(large) {
    position: relative;
  }
}
