// colors

$primero: #4a4c5e;
$segundo: rgb(239, 215, 189);
$tercero: #cbcbf6;
$cuarto: hsl(230, 27%, 4%);
$quinto: hsl(220, 16%, 96%);
$sexto: hsl(0, 0%, 98%);
$septimo: hsl(0, 0%, 100%);
$octavo: rgb(166, 170, 201);
$noveno: #b4bbb4;
$decimo: #464b72;
$once: rgb(228, 217, 205);
$doce: #cdcde0;
$trece: #a9abb9;
$catorce: #b6b9b6;

// font-sizes

$font-small: 1rem;
$font-med: 1.125rem;
