.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 200ms ease-in-out forwards;
          animation: fade-in 200ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 200ms ease-in-out forwards;
          animation: fade-out 200ms ease-in-out forwards;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  color: #07080d;
  line-height: 1.3;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
}

body.noscroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0px;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.container {
  padding-top: 2.25rem;
  padding-left: 1.5rem;
  padding-bottom: 2.25rem;
  padding-right: 1.5rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button,
.button {
  display: inline-block;
  padding: 0.775rem 2.1875rem;
  background: -webkit-gradient(linear, left top, right top, from(#a9abb9), to(#464b72));
  background: linear-gradient(to right, #a9abb9, #464b72);
  border-radius: 50px;
  border: 0;
  cursor: pointer;
  color: white;
  font-weight: 400;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

button:hover,
.button:hover {
  opacity: 0.75;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.hidden {
  display: none !important;
}

section {
  scroll-snap-align: start;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header.open .overlay {
  display: block;
}

.header.open .header__toggle > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__toggle > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header nav {
  position: relative;
  background-color: white;
  opacity: 0.98;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  -webkit-box-shadow: 0.1px 0.1px 3px #b4bbb4;
          box-shadow: 0.1px 0.1px 3px #b4bbb4;
}

.header__logo img {
  width: auto;
  height: 3rem;
}

.header__toggle > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #4a4c5e;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
}

.header__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}

.header__menu {
  position: absolute;
  margin-top: 1.625rem;
  width: calc(100% - 3rem);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: white;
  padding: 1.625rem;
  border-radius: 5px;
}

.header__menu a {
  display: block;
  padding: 0.625rem;
  color: #07080d;
  text-align: center;
}

.header__menu a:hover {
  color: #b4bbb4;
}

.header__links a {
  position: relative;
  font-size: 1.125rem;
  color: #07080d;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.header__links a:not(:last-child) {
  margin-right: 32px;
}

.header__links a::before {
  content: "";
  position: absolute;
  display: block;
  height: 4px;
  left: 0;
  right: 0;
  bottom: -10px;
  background: -webkit-gradient(linear, left top, right top, from(#efd7bd), to(#cbcbf6));
  background: linear-gradient(to right, #efd7bd, #cbcbf6);
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.header__links a:hover {
  color: #b4bbb4;
}

.header__links a:hover::before {
  opacity: 1;
}

.overlay {
  opacity: 0;
  position: fixed;
  top: 0rem;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4a4c5e), to(transparent));
  background-image: linear-gradient(#4a4c5e, transparent);
}

@media (min-width: 64em) {
  .overlay {
    position: relative;
  }
}

i {
  font-size: 2rem;
}

.hero {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(228, 217, 205, 0.05)), to(#efd7bd)) !important;
  background: linear-gradient(rgba(228, 217, 205, 0.05), #efd7bd) !important;
  position: absolute;
  width: 100%;
  top: 5.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  font-family: "Josefin Sans", sans-serif;
}

.hero__image {
  margin-top: 5.5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  background-image: url("/images/_logo-1-impresionDigital.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 5rem;
  padding: 0.5rem;
}

@media (min-width: 40em) {
  .hero__image {
    min-height: 12.5rem;
  }
}

@media (min-width: 64em) {
  .hero__image {
    min-height: 15rem;
  }
}

.hero__text {
  opacity: 0.75;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.hero h1 {
  font-size: 1.3rem;
  line-height: 1.15;
}

@media (min-width: 40em) {
  .hero h1 {
    font-size: 2rem;
  }
}

@media (min-width: 64em) {
  .hero h1 {
    font-size: 2.31rem;
  }
}

.hero H4,
.hero h5 {
  font-size: 1rem;
  line-height: 1.15;
}

@media (min-width: 40em) {
  .hero H4,
  .hero h5 {
    font-size: 1.25rem;
  }
}

@media (min-width: 64em) {
  .hero H4,
  .hero h5 {
    font-size: 1.5rem;
  }
}

@media screen and (max-height: 600px) {
  .hero__image {
    height: 2.9rem;
    margin-top: 1.8rem;
  }
  .hero > h1, .hero > h4 {
    font-size: 1.3rem;
  }
  .hero > h5 {
    display: none;
  }
  .hero > a {
    margin-bottom: 50px;
  }
}

@media screen and (max-height: 500px) {
  .hero__image {
    background-image: url("/images/logo.responsive.png");
    min-height: 3.5rem;
  }
  .hero > h1,
  .hero > h5 {
    display: none;
  }
  .hero > a {
    margin-bottom: 25px;
  }
}

.novedades {
  background: #efd7bd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
  font-family: "Josefin Sans", sans-serif;
  position: absolute;
  top: 100vh;
  text-align: center;
  margin-top: 5.5rem;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 85vh;
  margin: 4.5rem 10px 10px 10px;
  width: 100%;
}

.cardsNovedades {
  position: relative;
  min-width: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  min-height: 30%;
}

.billeteraStaFe {
  background-color: #1c225e;
  color: #f3f4f6;
}

.billeteraStaFe > h1 {
  position: absolute;
  top: 35%;
}

@media (max-width: 63.9375em) {
  .billeteraStaFe > h1 {
    -webkit-filter: drop-shadow(1px 1px 0px #ed6992);
            filter: drop-shadow(1px 1px 0px #ed6992);
    top: 30%;
  }
}

.billeteraStaFe > .p1 {
  position: absolute;
  top: 27.5%;
  letter-spacing: 0.1rem;
}

@media (max-width: 87.4375em) {
  .billeteraStaFe > .p1 {
    font-size: 1rem;
    top: 22.5%;
  }
}

@media (max-width: 63.9375em) {
  .billeteraStaFe > .p1 {
    display: none;
  }
}

.billeteraStaFe > span {
  position: absolute;
  top: 45%;
  -webkit-filter: drop-shadow(1px 1px 1px #f3f4f6);
          filter: drop-shadow(1px 1px 1px #f3f4f6);
  font-weight: 500;
  font-size: 7rem;
  color: #ed6992;
}

@media (max-width: 63.9375em) {
  .billeteraStaFe > span {
    font-size: 5rem;
    top: 39%;
  }
}

.billeteraStaFe > .p2 {
  position: absolute;
  top: 63.5%;
  letter-spacing: 0.1rem;
}

@media (max-width: 87.4375em) {
  .billeteraStaFe > .p2 {
    margin: 65px;
  }
}

@media (max-width: 63.9375em) {
  .billeteraStaFe > .p2 {
    margin: 35px;
    font-size: 1rem;
  }
}

.logoSF {
  position: absolute;
  top: 10%;
  left: 10%;
  background-image: url("/images/logoSF.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 30%;
  height: 10%;
  margin: 10px;
}

@media (max-width: 87.4375em) {
  .logoSF {
    top: 5%;
    left: 7.5%;
    height: 18%;
  }
}

@media (max-width: 63.9375em) {
  .logoSF {
    top: 5%;
    left: 0;
    height: 15%;
  }
}

.logoPlusPagos {
  color: #ed6992;
  position: absolute;
  top: 10%;
  right: 10%;
  background-image: url("/images/logo-pluspagos-blanco.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 30%;
  height: 10%;
  margin: 10px;
}

@media (max-width: 87.4375em) {
  .logoPlusPagos {
    top: 5%;
    right: 7.5%;
    height: 18%;
  }
}

@media (max-width: 63.9375em) {
  .logoPlusPagos {
    top: 5%;
    right: 0;
    height: 15%;
  }
}

.creditCards {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1c225e), to(#a6aac9));
  background-image: linear-gradient(#1c225e, #a6aac9);
  border: 2px solid #4a4c5e;
  color: #efd7bd;
}

.creditCards > h1 {
  font-size: 5rem;
  -webkit-filter: drop-shadow(3px 3px 0px #1c225e);
          filter: drop-shadow(3px 3px 0px #1c225e);
}

@media (max-width: 63.9375em) {
  .creditCards > h1 {
    font-size: 50px;
  }
}

.creditCards > p {
  position: absolute;
  top: 75%;
  font-size: 25px;
  color: #07080d;
  letter-spacing: 0.1rem;
}

@media (max-width: 63.9375em) {
  .creditCards > p {
    font-size: 1rem;
  }
}

.productos {
  background: #efd7bd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
  font-family: "Josefin Sans", sans-serif;
  position: absolute;
  top: 200vh;
  margin-top: 5.5rem;
}

@media (max-width: 63.9375em) {
  .productos {
    height: 200vh;
  }
}

.productosFlex {
  background: #efd7bd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  width: 100%;
  margin: 6rem 10px 2rem 10px;
}

.carousel, .listadoProductos {
  height: 98%;
  min-width: 350px;
  width: 58%;
  margin: 5px;
  background: #efd7bd;
}

@media (max-width: 63.9375em) {
  .carousel, .listadoProductos {
    width: 95%;
    margin-top: 10px;
    height: 75vh;
  }
}

.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carousel__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  position: relative;
  width: 58%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-perspective: 300px;
          perspective: 300px;
}

@media (max-width: 63.9375em) {
  .carousel__list {
    width: 65%;
    margin-right: 5%;
  }
}

@media (max-width: 39.9375em) {
  .carousel__list {
    width: 90%;
    margin-right: 10%;
  }
}

.carousel__item {
  background-image: url("/images/Almohadones/almohadones-1.jpeg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 0px;
  width: 70%;
  height: 80%;
  border-radius: 12px;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5);
          box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5);
  position: absolute;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.carousel__item:nth-child(1) {
  background: linear-gradient(45deg, #2D35EB 0%, #904ED4 100%);
}

.carousel__item:nth-child(2) {
  background: linear-gradient(45deg, #2D35EB 0%, #fdbb2d 100%);
}

.carousel__item:nth-child(3) {
  background: linear-gradient(45deg, #2D35EB 0%, #22c1c3 100%);
}

.carousel__item:nth-child(4) {
  background: linear-gradient(45deg, #fdbb2d 0%, #904ED4 100%);
}

.carousel__item:nth-child(5) {
  background: linear-gradient(45deg, #22c1c3 0%, #904ED4 100%);
}

.carousel__item[data-pos="0"] {
  z-index: 5;
}

.carousel__item[data-pos="-1"], .carousel__item[data-pos="1"] {
  opacity: 0.7;
  -webkit-filter: blur(1px) grayscale(10%);
          filter: blur(1px) grayscale(10%);
}

.carousel__item[data-pos="-1"] {
  -webkit-transform: translateX(-15%) scale(0.9);
          transform: translateX(-15%) scale(0.9);
  z-index: 4;
}

.carousel__item[data-pos="1"] {
  -webkit-transform: translateX(15%) scale(0.9);
          transform: translateX(15%) scale(0.9);
  z-index: 4;
}

.carousel__item[data-pos="-2"], .carousel__item[data-pos="2"] {
  opacity: 0.4;
  -webkit-filter: blur(3px) grayscale(20%);
          filter: blur(3px) grayscale(20%);
}

.carousel__item[data-pos="-2"] {
  -webkit-transform: translateX(-30%) scale(0.8);
          transform: translateX(-30%) scale(0.8);
  z-index: 3;
}

.carousel__item[data-pos="2"] {
  -webkit-transform: translateX(30%) scale(0.8);
          transform: translateX(30%) scale(0.8);
  z-index: 3;
}

.listadoProductos {
  width: 30%;
  text-align: center;
}

.listadoProductos ul {
  list-style-type: none;
}

.listadoProductos ul li:hover, .listadoProductos ul .active {
  font-size: 25px;
  font-weight: bold;
  -webkit-filter: drop-shadow(1px 1px 1px #4a4c5e);
          filter: drop-shadow(1px 1px 1px #4a4c5e);
}

.listadoProductos ul i {
  font-size: 1rem;
}

.listadoProductos ul a:visited {
  text-decoration: none;
}

.nosotros {
  background: #efd7bd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
  font-family: "Josefin Sans", sans-serif;
  position: absolute;
  top: 300vh;
  margin-top: 5.5rem;
}

@media (max-width: 63.9375em) {
  .nosotros {
    height: 175vh;
    top: 400vh;
  }
}

.nosotrosFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  margin: 6rem 3px;
}

@media (max-width: 63.9375em) {
  .nosotrosFlex {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 6rem 0 0 0;
  }
}

.nosotrosFlex p {
  width: 40%;
  font-size: 1.125rem;
  margin: 0 10px;
}

@media (max-width: 63.9375em) {
  .nosotrosFlex p {
    width: 95%;
    height: 50%;
    font-size: 1rem;
  }
}

.imgNosotros {
  background: url("/images/nosotros.jpeg");
  width: 48%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 0 10px;
  -webkit-filter: drop-shadow(5px 5px 2px #4a4c5e);
          filter: drop-shadow(5px 5px 2px #4a4c5e);
}

@media (max-width: 63.9375em) {
  .imgNosotros {
    width: 95%;
    height: 50%;
  }
}

.contacto {
  background: #efd7bd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 500vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 63.9375em) {
  .contacto {
    top: 675vh;
  }
}

.contacto img {
  margin: 4.5rem 3px 3px 3px;
  width: 400px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-filter: drop-shadow(5px 5px 4px #4a4c5e);
          filter: drop-shadow(5px 5px 4px #4a4c5e);
}

@media (max-width: 63.9375em) {
  .contacto img {
    width: 300px;
    position: absolute;
    top: 2.5rem;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.formContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 50%;
  height: 80vh;
  margin: 4.5rem 3px 3px 3px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 63.9375em) {
  .formContacto {
    width: 400px;
    margin-top: 130px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.formContacto h3 {
  margin-bottom: 40px;
}

@media (max-width: 63.9375em) {
  .formContacto h3 {
    margin-top: 50%;
    text-align: center;
  }
}

.formContacto .datosForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 40vw;
}

@media (max-width: 63.9375em) {
  .formContacto .datosForm {
    min-width: 300px;
  }
}

.formContacto .datosForm input, .formContacto .datosForm textarea {
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #efd7bd;
  outline: none;
  padding: 1%;
}

@media (max-width: 63.9375em) {
  .formContacto .datosForm input, .formContacto .datosForm textarea {
    margin-bottom: 10px;
  }
}

.formContacto .datosForm .btn {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media (max-width: 63.9375em) {
  .formContacto .datosForm .btn {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.encontranos {
  background: #efd7bd;
  height: 100vh;
  width: 100%;
  font-family: "Josefin Sans", sans-serif;
  position: absolute;
  top: 400vh;
  z-index: -2;
}

@media (max-width: 63.9375em) {
  .encontranos {
    top: 575vh;
  }
}

.rowMap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85vh;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 5.5rem;
}

@media (max-width: 63.9375em) {
  .rowMap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: space-around;
        -ms-flex-align: space-around;
            align-items: space-around;
    height: 100%;
  }
}

.mapouter {
  border: 5px solid #f3f4f6;
  height: 90%;
  min-width: 20rem;
  max-width: 50%;
  -webkit-box-shadow: 2px 2px 21px #1c225e;
          box-shadow: 2px 2px 21px #1c225e;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 63.9375em) {
  .mapouter {
    height: 50vh;
    max-width: 90%;
  }
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 100%;
  width: 100%;
}

.datos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 35%;
  min-width: 20rem;
  font-size: 1.5rem;
}

@media (max-width: 63.9375em) {
  .datos {
    font-size: 1.125rem;
  }
}

@media (max-width: 63.9375em) {
  .datos {
    margin-top: 5%;
    min-height: 50%;
    width: 90%;
  }
}

p {
  margin: 0px 0px 0px 5px;
  padding: 15px;
}

@media (max-width: 87.4375em) {
  p {
    padding: 5px;
  }
}

@media (max-width: 63.9375em) {
  p {
    margin-top: 5px;
    padding: 3px;
  }
}

.datitos {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.thanks {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(228, 217, 205, 0.5)), to(#efd7bd));
  background: linear-gradient(rgba(228, 217, 205, 0.5), #efd7bd);
}

.thanks .thank-content {
  width: 60%;
  height: 60%;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#e4d9cd), to(#efd7bd));
  background: linear-gradient(#e4d9cd, #efd7bd);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5%;
  -webkit-box-shadow: 3px 3px 8px #4a4c5e;
          box-shadow: 3px 3px 8px #4a4c5e;
}

@media (max-width: 63.9375em) {
  .thanks .thank-content {
    width: 95%;
    height: 75%;
  }
}

.thanks .mail-icon {
  text-align: center;
  font-size: 50px;
  background: #4a4c5e;
  color: #efd7bd;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
  border-radius: 50%;
  -webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.75);
          box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.75);
}

@media (max-width: 63.9375em) {
  .thanks .mail-icon {
    font-size: 3.125rem;
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 39.9375em) {
  .thanks .mail-icon {
    font-size: 1.5rem;
    width: 35px;
    height: 35px;
  }
}

.thanks .thanks-h1 {
  font-size: 5rem;
  font-family: "Laqonic4FUnicase-Light", sans-serif;
  font-weight: 100;
  padding-top: 5%;
}

@media (max-width: 63.9375em) {
  .thanks .thanks-h1 {
    font-size: 3.125rem;
  }
}

@media (max-width: 39.9375em) {
  .thanks .thanks-h1 {
    font-size: 1.5rem;
  }
}

.thanks .request {
  font-size: 1rem;
  margin-bottom: 10px;
}
/*# sourceMappingURL=style.css.map */